/* line 23, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 33, ../sass/screen.scss */
.fullScreen, nav[role="main"] {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #444444;
  display: block;
}

/* line 41, ../sass/screen.scss */
.defaultPos, nav[role="main"] ul {
  margin: 0 auto;
  width: 960px;
}

/* line 48, ../sass/screen.scss */
nav[role="main"] {
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 999;
}
/* line 54, ../sass/screen.scss */
nav[role="main"] ul {
  line-height: 75px;
  padding: 0;
}

/* line 61, ../sass/screen.scss */
.nav {
  list-style-type: none;
}
/* line 63, ../sass/screen.scss */
.nav li {
  display: inline-block;
  margin-right: 15px;
}
/* line 13, ../sass/screen.scss */
.nav li a {
  color: white;
  text-decoration: none;
}
/* line 16, ../sass/screen.scss */
.nav li a:hover {
  text-decoration: underline;
}

/* line 70, ../sass/screen.scss */
.lt-ie8 .nav li {
  display: inline;
}

/* line 74, ../sass/screen.scss */
#outerWrapper {
  top: 100px;
  position: relative;
  padding-bottom: 75px;
}
/* line 78, ../sass/screen.scss */
#outerWrapper #wrapper {
  background: #eaeaea;
}

/* line 83, ../sass/screen.scss */
header[role="pageHeader"] {
  height: 200px;
  background: #848484;
  margin-bottom: 15px;
}
/* line 87, ../sass/screen.scss */
header[role="pageHeader"] .pageTitle {
  position: relative;
  background: #b7b7b7;
  margin: 0;
  display: inline-block;
}
/* line 93, ../sass/screen.scss */
header[role="pageHeader"] h1 {
  top: 162px;
}
/* line 96, ../sass/screen.scss */
header[role="pageHeader"] h2 {
  float: right;
}

/* line 101, ../sass/screen.scss */
.sidebar {
  width: 320px;
  float: right;
  background: #d0d0d0;
}
/* line 105, ../sass/screen.scss */
.sidebar section, .sidebar ul {
  margin-bottom: 10px;
}
/* line 108, ../sass/screen.scss */
.sidebar ul {
  list-style-type: none;
  padding: 0 10px;
}

/* line 114, ../sass/screen.scss */
.tabs li {
  display: inline-block;
  padding: 15px 10px;
  width: 77px;
  background: #b7b7b7;
  text-align: center;
}
/* line 120, ../sass/screen.scss */
.tabs li a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

/* line 127, ../sass/screen.scss */
.tabContainer {
  min-height: 200px;
  background: #b7b7b7;
}

/* line 132, ../sass/screen.scss */
.call2action {
  background: #919191;
  min-height: 150px;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

/* line 142, ../sass/screen.scss */
.promos li {
  margin-bottom: 10px;
}
/* line 145, ../sass/screen.scss */
.promos a {
  display: block;
  padding: 10px 5px;
  background: #aaaaaa;
  color: #FFF;
  text-decoration: none;
}
/* line 151, ../sass/screen.scss */
.promos a:hover {
  background: #b7b7b7;
}

/* line 157, ../sass/screen.scss */
.content {
  width: 610px;
  min-height: 585px;
  padding: 15px;
}

/* line 163, ../sass/screen.scss */
.forum {
  min-height: 175px;
  color: #FFF;
  font-size: 18px;
  background: #777777;
  padding: 10px;
  margin-bottom: 15px;
}
/* line 170, ../sass/screen.scss */
.forum.forumTop {
  min-height: 100px;
}

/* line 175, ../sass/screen.scss */
.reviews {
  margin-bottom: 25px;
  padding: 10px;
}
/* line 178, ../sass/screen.scss */
.reviews:hover {
  -webkit-box-shadow: 0 0 10px #444444;
  -moz-box-shadow: 0 0 10px #444444;
  box-shadow: 0 0 10px #444444;
  cursor: pointer;
}
/* line 182, ../sass/screen.scss */
.reviews .photo {
  width: 125px;
  height: 150px;
  background: #848484;
  margin-bottom: 15px;
}
/* line 188, ../sass/screen.scss */
.reviews.odd .photo {
  float: left;
  margin-right: 15px;
}
/* line 192, ../sass/screen.scss */
.reviews.even .photo {
  float: right;
  margin-left: 15px;
}
/* line 196, ../sass/screen.scss */
.reviews h3 {
  margin-top: 0;
}

/* line 201, ../sass/screen.scss */
footer {
  background: #aaaaaa;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 208, ../sass/screen.scss */
footer section {
  height: 75px;
  width: 320px;
  float: right;
  background: #9d9d9d;
}
/* line 214, ../sass/screen.scss */
footer nav {
  width: 640px;
}
/* line 216, ../sass/screen.scss */
footer nav ul {
  padding: 0;
}

/* line 224, ../sass/screen.scss */
.clear {
  clear: both;
}
