@import "compass/css3/box-shadow";

// Variables --------------------
$greyTest: #444444;
$primary: #f90101;
$defaultFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headlineFont: "Magra", sans-serif;
$navHeight: 75px;
$pageWidth: 960px; // Default page width
$sideWidth: 320px; // Default sidebar width

@mixin awesome-linkify-biotch ($color: #FFF) {
	a {
		color: $color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Global --------------------
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $defaultFont;
}


// Reusable --------------------
.fullScreen {
	width: 100%;
	margin: 0;
	padding: 0;
	background: $greyTest;
	display: block;
}

.defaultPos {
	margin: 0 auto;
	width: $pageWidth;
}


// Layout Rules --------------------
nav[role="main"] {
	@extend .fullScreen;
	height: $navHeight;
	position: fixed;
	top: 0;
	z-index: 999;
	ul {
		@extend .defaultPos;
		line-height: $navHeight;
		padding: 0;
	}
}

.nav {
	list-style-type: none;
	li {
		display: inline-block;
		margin-right: 15px;
		@include awesome-linkify-biotch;
	}
}

.lt-ie8 .nav li {
	display: inline;
}

#outerWrapper {
	top: $navHeight + 25;
	position: relative;
	padding-bottom: $navHeight;
	#wrapper {
		background: lighten($greyTest, 65%);
	}
}

header[role="pageHeader"] {
	height: 200px;
	background: lighten($greyTest, 25%);
	margin-bottom: 15px;
	.pageTitle {
		position: relative;
		background: lighten($greyTest, 45%);
		margin: 0;
		display: inline-block;
	}
	h1 {
		top: 162px;
	}
	h2 {
		float: right;
	}
}

.sidebar {
	width: $sideWidth;
	float: right;
	background: lighten($greyTest, 55%);
	section, ul {
		margin-bottom: 10px;
	}
	ul {
		list-style-type: none;
		padding: 0 10px;
	}
}

.tabs li {
	display: inline-block;
	padding: 15px 10px;
	width: 77px;
	background: lighten($greyTest, 45%);
	text-align: center;
	a {
		text-decoration: none;
		color: #FFF;
		font-weight: bold;
	}
}

.tabContainer {
	min-height: 200px;
	background: lighten($greyTest, 45%);
}

.call2action {
	background: lighten($greyTest, 30%);
	min-height: 150px;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
}

.promos {
	li {
		margin-bottom: 10px;
	}
	a {
		display: block;
		padding: 10px 5px;
		background: lighten($greyTest, 40%);
		color: #FFF;
		text-decoration: none;
		&:hover {
			background: lighten($greyTest, 45%);
		}
	}
}

.content {
	width: 610px;
	min-height: 585px;
	padding: 15px;
}

.forum {
	min-height: 175px;
	color: #FFF;
	font-size: 18px;
	background: lighten($greyTest, 20%);
	padding: 10px;
	margin-bottom: 15px;
	&.forumTop {
		min-height: 100px;
	}
}

.reviews {
	margin-bottom: 25px;
	padding: 10px;
	&:hover{
		@include single-box-shadow($greyTest, 0, 0, 10px);
		cursor: pointer;
	}
	.photo {
		width: 125px;
		height: 150px;
		background: lighten($greyTest, 25%);
		margin-bottom: 15px;
	}
	&.odd .photo {
		float: left;
		margin-right: 15px;
	}
	&.even .photo {
		float: right;
		margin-left: 15px;
	}
	h3 {
		margin-top: 0;
	}
}

footer {
	background: lighten($greyTest, 40%);
	height: $navHeight;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	section {
		height: $navHeight;
		width: $sideWidth;
		float: right;
		background: lighten($greyTest, 35%);
	}
	nav {
		width: $pageWidth - $sideWidth;
		ul {
			padding: 0;
		}
	}
}


// Utils --------------------
.clear {
	clear: both;
}